{% props class = '', %}

{% set class = ('col-span-12 lg:col-span-9 lg:order-1 order-2 ' ~ class)|tailwind_merge %}


<div {{ attributes }} class="{{ class }}">
        <twig:Ui:card>
            <twig:block name="header">
                <div class="flex flex-wrap items-start justify-between gap-5">
                    <div>
                        <h3 class="mb-1 text-lg font-semibold text-gray-800 dark:text-white/90">
                            Identifications
                        </h3>
                        <span class="block text-theme-sm text-gray-500 dark:text-gray-400">
                  {% if frequency == 'week' %}
                      Nombre d'identifications durant 4 semaines
                  {% elseif frequency == 'month' %}
                      Nombre d'identifications durant 4 semaines
                  {% elseif frequency == 'year' %}
                      Nombre d'identifications sur l'année
                  {% endif %}
                </span>
                    </div>

                    <div class="flex items-center gap-0.5 rounded-lg bg-gray-100 p-0.5 dark:bg-gray-900">
                        {% for option in [
                            { label: '4 semaines', value: 'week'},
                            { label: '6 mois', value: 'month'},
                            { label: 'Année', value: 'year'}
                        ] %}

                            <button
                                    data-action="live#action"
                                    data-live-action-param="changeFrequency"
                                    data-live-frequency-param="{{ option.value }}"
                                    class="{{ frequency == option.value ? 'shadow-theme-xs text-gray-900 dark:text-white bg-white dark:bg-gray-800' : 'text-gray-500 dark:text-gray-400' }}
                px-3 py-2 font-medium rounded-md text-theme-sm hover:text-gray-900 dark:hover:text-white"
                            >
                                {{ option.label }}
                            </button>
                        {% endfor %}
                    </div>
                </div>
            </twig:block>

            <div data-loading="hide">
                {% if outerScope.chart %}
                    {{ render_chart(outerScope.chart) }}
                {% endif %}
            </div>

            <div data-loading class="p-4 animate-pulse md:p-6">
                <div class="flex items-baseline mt-4 gap-5">
                    <div class="w-full bg-gray-200 rounded-t-lg h-72 dark:bg-gray-700"></div>
                    <div class="w-full h-56 bg-gray-200 rounded-t-lg dark:bg-gray-700"></div>
                    <div class="w-full bg-gray-200 rounded-t-lg h-72 dark:bg-gray-700"></div>
                    <div class="w-full h-64 bg-gray-200 rounded-t-lg dark:bg-gray-700"></div>
                    <div class="w-full bg-gray-200 rounded-t-lg h-80 dark:bg-gray-700"></div>
                    <div class="w-full bg-gray-200 rounded-t-lg h-72 dark:bg-gray-700"></div>
                    <div class="w-full bg-gray-200 rounded-t-lg h-80 dark:bg-gray-700"></div>

                    <div class="w-full bg-gray-200 rounded-t-lg h-72 dark:bg-gray-700 hidden lg:inline-flex"></div>
                    <div class="w-full h-56 bg-gray-200 rounded-t-lg dark:bg-gray-700 hidden lg:inline-flex"></div>
                    <div class="w-full bg-gray-200 rounded-t-lg h-72 dark:bg-gray-700 hidden lg:inline-flex"></div>
                    <div class="w-full h-64 bg-gray-200 rounded-t-lg dark:bg-gray-700 hidden lg:inline-flex"></div>
                    <div class="w-full bg-gray-200 rounded-t-lg h-80 dark:bg-gray-700 hidden lg:inline-flex"></div>
                    <div class="w-full bg-gray-200 rounded-t-lg h-72 dark:bg-gray-700 hidden lg:inline-flex"></div>
                    <div class="w-full bg-gray-200 rounded-t-lg h-80 dark:bg-gray-700 hidden lg:inline-flex"></div>

                    <div class="w-full bg-gray-200 rounded-t-lg h-72 dark:bg-gray-700 hidden lg:inline-flex"></div>
                    <div class="w-full h-56 bg-gray-200 rounded-t-lg dark:bg-gray-700 hidden lg:inline-flex"></div>
                    <div class="w-full bg-gray-200 rounded-t-lg h-72 dark:bg-gray-700 hidden lg:inline-flex"></div>
                    <div class="w-full h-64 bg-gray-200 rounded-t-lg dark:bg-gray-700 hidden lg:inline-flex"></div>
                    <div class="w-full bg-gray-200 rounded-t-lg h-80 dark:bg-gray-700 hidden lg:inline-flex"></div>
                    <div class="w-full bg-gray-200 rounded-t-lg h-72 dark:bg-gray-700 hidden lg:inline-flex"></div>
                    <div class="w-full bg-gray-200 rounded-t-lg h-80 dark:bg-gray-700 hidden lg:inline-flex"></div>
                </div>
            </div>
        </twig:Ui:card>
</div>
