{% props
  tooltip = '',
  content = '',
  position = 'top',
  showArrow = true,
  unstyled = false,
  class = '', %}
{% set positionClass %}
  {% if position == 'top' %}
    top-0 left-1/2 -translate-x-1/2 -mt-0.5 -translate-y-full
  {% elseif position == 'left' %}
    top-1/2 -translate-y-1/2 -ml-0.5 left-0 -translate-x-full
  {% elseif position == 'bottom' %}
    bottom-0 left-1/2 -translate-x-1/2 -mb-0.5 translate-y-full
  {% elseif position == 'right' %}
    top-1/2 -translate-y-1/2 -mr-0.5 right-0 translate-x-full
  {% endif %}
{% endset %}

{% set arrowClass %}
  {% if position == 'top' %}
    bottom-0 -translate-x-1/2 left-1/2 w-2.5 translate-y-full
  {% elseif position == 'left' %}
    right-0 -translate-y-1/2 top-1/2 h-2.5 -mt-px translate-x-full
  {% elseif position == 'bottom' %}
    top-0 -translate-x-1/2 left-1/2 w-2.5 -translate-y-full
  {% elseif position == 'right' %}
    left-0 -translate-y-1/2 top-1/2 h-2.5 -mt-px -translate-x-full
  {% endif %}
{% endset %}

{% set arrowDirectionClass %}
  {% if position == 'top' %}
    origin-top-left -rotate-45
  {% elseif position == 'left' %}
    origin-top-left rotate-45
  {% elseif position == 'bottom' %}
    origin-bottom-left rotate-45
  {% elseif position == 'right' %}
    origin-top-right -rotate-45
  {% endif %}
{% endset %}

{% set contentBlock %}{% block content content %}{% endset %}
{% set tooltipBlock %}{% block tooltip tooltip %}{% endset %}

{% set class = ('relative ' ~ class)|tailwind_merge %}

<div {{ attributes }} data-controller="popover" class="{{ class }}">
  <div
    data-action="mouseenter->popover#show mouseleave->popover#hide"
    class="{{ not unstyled ? 'px-3 py-1 text-xs rounded-full cursor-pointer text-neutral-500 bg-slate-100 dark:bg-slate-900' }}"
  >
    {{ contentBlock|raw }}
  </div>

  <template data-popover-target="content">
    <div
      data-popover-target="card"
      class="absolute w-auto text-sm {{ positionClass }}"
    >
      <div class="relative px-2 py-1 text-white bg-black rounded bg-opacity-90">
        <div class="flex-shrink-0 block text-xs whitespace-nowrap">
          {{ tooltipBlock|raw }}
        </div>

        {% if showArrow %}
          <div
            class="{{ arrowClass }} absolute inline-flex items-center justify-center overflow-hidden"
          >
            <div
              class="{{ arrowDirectionClass }} w-1.5 h-1.5 transform bg-black bg-opacity-90"
            ></div>
          </div>
        {% endif %}
      </div>
    </div>
  </template>
</div>