{# @var \App\Model\MenuItem|null menuItem #}
{% props menuItem = null, isActive = null, class = '' %}

{% set isActive = app.current_route == menuItem.route.name %}

<li
  { attributes}}
  class="{{ class }}"
>
    <a
            href="{{ path(menuItem.route.name, menuItem.route.params) }}"
            class="group relative flex items-center gap-3 px-3 py-2 font-medium rounded-lg text-sm group {{ isActive ? 'bg-primary hover:bg-primary/90' : 'hover:bg-primary' }}"
    >
        <span
                class="{{ isActive ? 'text-primary-foreground' : 'text-white group-hover:text-primary-foreground' }}"
        >
          {% block content %}{{ menuItem }}{% endblock %}
        </span>
    </a>
</li>
