{% import '@Ui/ui_library/_macros.html.twig' as ui %}

<div class="space-y-6">
    {# Basic Tags Input #}
    {% set basicPreview %}
        <div class="max-w-md">
            <twig:ui:tags-input name="tags" placeholder="Add tag..." />
        </div>
    {% endset %}
    {% set basicCode %}{% verbatim %}<twig:ui:tags-input name="tags" placeholder="Add tag..." />{% endverbatim %}{% endset %}
    {{ ui.story('Basic Tags Input', basicPreview, basicCode) }}

    {# With Initial Values #}
    {% set valuesPreview %}
        <div class="max-w-md">
            <twig:ui:tags-input
                name="skills"
                :value="['JavaScript', 'TypeScript', 'Vue.js']"
            />
        </div>
    {% endset %}
    {% set valuesCode %}{% verbatim %}<twig:ui:tags-input
    name="skills"
    :value="['JavaScript', 'TypeScript', 'Vue.js']"
/>{% endverbatim %}{% endset %}
    {{ ui.story('With Initial Values', valuesPreview, valuesCode) }}

    {# With Max Tags #}
    {% set maxPreview %}
        <div class="max-w-md">
            <twig:ui:tags-input
                name="limited"
                :value="['Tag 1', 'Tag 2']"
                :max="5"
                placeholder="Max 5 tags..."
            />
        </div>
    {% endset %}
    {% set maxCode %}{% verbatim %}<twig:ui:tags-input
    name="limited"
    :value="['Tag 1', 'Tag 2']"
    :max="5"
    placeholder="Max 5 tags..."
/>{% endverbatim %}{% endset %}
    {{ ui.story('With Max Tags (5)', maxPreview, maxCode) }}

    {# Sizes #}
    {% set sizesPreview %}
        <div class="max-w-md space-y-4">
            <twig:ui:tags-input name="sm" size="sm" :value="['Small']" placeholder="Small..." />
            <twig:ui:tags-input name="md" size="md" :value="['Medium']" placeholder="Medium..." />
            <twig:ui:tags-input name="lg" size="lg" :value="['Large']" placeholder="Large..." />
        </div>
    {% endset %}
    {% set sizesCode %}{% verbatim %}<twig:ui:tags-input size="sm" ... />
<twig:ui:tags-input size="md" ... />
<twig:ui:tags-input size="lg" ... />{% endverbatim %}{% endset %}
    {{ ui.story('Sizes', sizesPreview, sizesCode) }}

    {# Disabled #}
    {% set disabledPreview %}
        <div class="max-w-md">
            <twig:ui:tags-input
                name="disabled"
                :value="['Readonly', 'Tags']"
                disabled
            />
        </div>
    {% endset %}
    {% set disabledCode %}{% verbatim %}<twig:ui:tags-input
    name="disabled"
    :value="['Readonly', 'Tags']"
    disabled
/>{% endverbatim %}{% endset %}
    {{ ui.story('Disabled', disabledPreview, disabledCode) }}
</div>
