{% props
    active = null,
    childActive = null,
    href=null,
    label = null,
    icon = null, %}

{% set childrenBlock %}{% block children '' %}{% endset %}
{% set haveChildren = childrenBlock is not empty %}
{% set active = active or childActive %}

<div
        {{ attributes }}
        {% if haveChildren %}
            x-data="{ open: false }"
            x-init="open = {{ active ? 'true' : 'false' }}"
        {% endif %}
>
    <a
            {% if haveChildren %}x-on:click="open = !open"{% endif %}
            href="{{ haveChildren ? 'javascript:' : href }}"
            class="group relative flex items-center gap-3 px-3 py-2 font-medium rounded-lg text-sm {{ active ? 'bg-primary hover:bg-primary/90' : 'hover:bg-gray-100 dark:hover:bg-gray-900' }}"
    >
        {% block content %}
            {% block icon %}
                {% if icon %}
                    <twig:ux:icon
                            name="{{ icon }}"
                            class="size-4 {{ active ? 'text-primary-foreground' : 'text-gray-600 dark:text-gray-400' }}"
                    />
                {% endif %}
            {% endblock %}

            <span
                    class="{{ active ? 'text-primary-foreground' : 'text-gray-600 dark:text-gray-400' }}"
                    x-bind:class="{'lg:hidden' : sidebarToggle }"
            >{% block label %}{{ label }}{% endblock %}</span>

            {% if haveChildren %}
                <twig:ux:icon
                        name="heroicons:chevron-down-20-solid"
                        data-active="{{ active ? 'true': 'false' }}"
                        x-bind:data-open="open"
                        class="size-4 absolute top-1/2 right-2.5 -translate-y-1/2
                  transition-transform duration-300 ease-in-out
                  rotate-0 data-open:rotate-180
                  {{ active ? 'text-primary-foreground' : 'text-gray-600 dark:text-gray-400' }}
                "
                        x-bind:class="[sidebarToggle ? 'lg:hidden' : '' ]"
                />
            {% endif %}
        {% endblock %}
    </a>

    {% if childrenBlock is not empty %}
        <twig:Ui:menu:sub>
            {{ childrenBlock|raw }}
        </twig:Ui:menu:sub>
    {% endif %}
</div>
