{% props
  type = null,
  class = '',
  form = null,
  name = null,
  id = null,
  for = null,
  label = null,
  value = null,
  placeholder = null,
  horizontal = false,
  required = null,
  autofocus = false,
  autocomplete = null,
  col = null,
  reverse = null,
  disabled = null,
%}

{% set id = id ?? name %}
{% set for = for ?? id %}
{% set label = label ?? name %}
{% if form %}
  {% set name = name ?? field_name(form) %}
  {% set id = id ?? form.vars.id %}
  {% set for = for ?? form.vars.id %}
  {% set label = label ?? field_label(form) %}
  {% set value = value ?? field_value(form) %}
  {% set required = required is not null ? required : form.vars.required %}
  {% set disabled = disabled ?? form.vars.disabled %}

  {% if type is not null %}
    {% set type = type %}
  {% elseif 'email' in  form.vars.block_prefixes %}
    {% set type = 'email' %}
  {% elseif 'checkbox' in  form.vars.block_prefixes %}
    {% set type = 'checkbox' %}
  {% elseif 'tab' in  form.vars.block_prefixes %}
    {% set type = 'tab' %}
  {% elseif 'password' in  form.vars.block_prefixes %}
    {% set type = 'password' %}
  {% elseif 'entity' in  form.vars.block_prefixes %}
    {% set type = 'entity' %}
  {% elseif 'live_collection_button_add' in  form.vars.block_prefixes %}
    {% set type = 'live_collection_button_add' %}
  {% elseif 'live_collection_button_delete' in  form.vars.block_prefixes %}
    {% set type = 'live_collection_button_delete' %}
  {% elseif 'live_collection_entry' in  form.vars.block_prefixes %}
    {% set type = 'live_collection_entry' %}
  {% elseif 'live_collection' in  form.vars.block_prefixes %}
    {% set type = 'live_collection' %}
  {% elseif 'collection_button_add' in  form.vars.block_prefixes %}
    {% set type = 'collection_button_add' %}
  {% elseif 'collection_button_delete' in  form.vars.block_prefixes %}
    {% set type = 'collection_button_delete' %}
  {% elseif 'collection_entry' in  form.vars.block_prefixes %}
    {% set type = 'collection_entry' %}
  {% elseif 'collection' in  form.vars.block_prefixes %}
    {% set type = 'collection' %}
  {% elseif 'date' in  form.vars.block_prefixes %}
    {% set type = 'date' %}
  {% elseif 'choice' in  form.vars.block_prefixes %}
    {% set type = 'choice' %}
  {% elseif 'hidden' in  form.vars.block_prefixes %}
    {% set type = 'hidden' %}
  {% else %}
    {% set type = 'text' %}
  {% endif %}
{% endif %}

{% set colClass = 'sm:col-span-6' %}
{% if horizontal %}
  {% set colClass = 'sm:col-span-12' %}
{% elseif col %}
  {% set colClass = 'sm:col-span-' ~ col %}
{% endif %}

{% if type in ['checkbox'] and reverse == null %}
  {% set reverse = true %}
{% endif %}

{% set inputContent %}
  {% block input %}
    <twig:Ui:input
      {{ ...attributes.nested('input') }}
      :form="form"
      :type="type"
      :name="name"
      :id="id"
      :placeholder="placeholder"
      :value="value"
      :required="required"
      :autofocus="autofocus"
      :autocomplete="autocomplete"
      :disabled="disabled"
    />
  {% endblock %}
{% endset %}

{% set content_block %}
  {% block content %}
    {% if type in ['hidden'] %}
      {{ inputContent|raw }}
    {% elseif type in ['checkbox'] %}
      {{ inputContent|raw }}

      <twig:Ui:label
        :form="form"
        :for="for"
        :label="label"
        {{ ...attributes.nested('label') }}
      />
    {% elseif horizontal %}
      <twig:Ui:label
        :form="form"
        :for="for"
        :label="label"
        {{ ...attributes.nested('label').without('class') }}
        data-reverse="{{ reverse ? 'true' : 'false' }}"
        class="{{ attributes.nested('label').render('class') }} sm:pt-1.5 sm:col-span-4 data-[reverse=true]:order-last"
      />

      <div class="mt-2 sm:col-span-8 sm:mt-0">
        {{ inputContent|raw }}
      </div>
    {% else %}
      <twig:Ui:label
        :form="form"
        :for="for"
        :label="label"
        {{ ...attributes.nested('label').without('class') }}
        data-reverse="{{ reverse ? 'true' : 'false' }}"
        class="{{ attributes.nested('label').render('class') }} data-[reverse=true]:order-last"
      />{{ attributes.nested('label').without('class') }}

      <div class="mt-2">
        {{ inputContent|raw }}
      </div>
    {% endif %}
  {% endblock %}
{% endset %}

{% if type in ['hidden'] %}
  {{ content_block|raw }}
{% else %}
  {% set class = (colClass ~ ' ' ~ class)|tailwind_merge %}
  <div 
    {{ attributes}} 
    data-type="{{ type }}"
    data-horizontal="{{ horizontal ? 'true' : 'false' }}"
    class="{{ class }} data-[type=checkbox]:flex data-[type=checkbox]:gap-3 data-[type=checkbox]:sm:col-span-12 data-[horizontal=true]:sm:grid data-[horizontal=true]:sm:grid-cols-12 data-[horizontal=true]:sm:items-start data-[horizontal=true]:sm:gap-4 data-[horizontal=true]:sm:py-6"
  >
    {{ content_block|raw }}
  </div>
{% endif %}
