{% props
  class = '',
  form = null,
  placeholder = null,
  name = null,
  inputName = null,
  inputValue = null,
  tokenName = null,
  tokenValue = null,
  method = null,
  action = null,
  size = 'md',
  variant = 'default',
  showSubmitButton = false,
  submitLabel = 'Search',
%}

{% if form %}
  {% set tokenName = tokenName ?? field_name(form._token) %}
  {% set tokenValue = tokenValue ?? field_value(form._token) %}
  {% for child in form.children %}
    {% if child.vars.name != '_token' %}
      {% set placeholder = placeholder ?? child.vars.attr.placeholder ?? null %}
      {% set inputName = inputName ?? field_name(child) %}
      {% set inputValue = inputValue ?? field_value(child) %}
    {% endif %}
  {% endfor %}

  {% set method = method ?? form.vars.method %}
  {% set name = name ?? field_name(form) %}
{% endif %}

{% set class = ('flex flex-col ' ~ class)|tailwind_merge %}

<form
  {{ attributes }}
  {% if action %}action="{{ action }}"{% endif %}
  {% if method %}method="{{ method }}"{% endif %}
  {% if name %}name="{{ name }}"{% endif %}
  class="{{ class }}"
>
  <twig:ui:form:search-input
    :placeholder="placeholder"
    :name="inputName"
    :value="inputValue"
    :size="size"
    :attributes="attributes.nested('input')"
  />

  {% if tokenName and tokenValue %}
    <input type="hidden" name="{{ tokenName }}" value="{{ tokenValue }}">
  {% endif %}
</form>
