{# @var \Cisse\Bundle\Ui\Model\Field[] fields #}
{% props
    class = '',
    fields = [],
    items = [],
    identifier = 'id',
    selectable = false,
    showActions = false,
    emptyLabel = 'Aucun résultat trouvé',
    expandable = false
%}

{% set _identifier = identifier %}

{# Capture all blocks at the top level #}
{% set tfootBlock %}{% block tfoot '' %}{% endset %}
{% set initBlock %}{% block init '' %}{% endset %}
{% set batchActionsBlock %}{% block batch_actions '' %}{% endset %}
{% set theadActionsBlock %}{% block thead_actions '' %}{% endset %}
{% set tbodyActionsBlock %}{% block tbody_actions '' %}{% endset %}
{% set expandedBlock %}{% block expanded '' %}{% endset %}
{% set emptyBlock %}{% block empty '' %}{% endset %}
{% set theadBlock %}{% block thead '' %}{% endset %}
{% set tbodyBlock %}{% block tbody '' %}{% endset %}

{% set class = ('font-nunito ui-scrollbar overflow-x-auto sm:-mx-6 lg:-mx-8 ' ~ class)|tailwind_merge %}

<div
        {{ attributes }}
        data-controller="cisse--ui-bundle--selectable"
        data-cisse--ui-bundle--selectable-selectable-value="{{ selectable ? 'true' : 'false' }}"
        data-cisse--ui-bundle--selectable-expandable-value="{{ expandable ? 'true' : 'false' }}"
        class="{{ class }}"
>
    {{ initBlock|raw }}

    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="relative">
            {% if selectable %}
                <div
                        data-cisse--ui-bundle--selectable-target="batchActions"
                        class="absolute top-0 left-14 flex h-12 items-center space-x-3 sm:left-12"
                        style="display: none;"
                >
                    {{ batchActionsBlock|raw }}
                </div>
            {% endif %}

            <table class="min-w-full table-fixed divide-y divide-slate-300 dark:divide-slate-700">
                <thead class="bg-gray-100 dark:bg-gray-900">
                {% if theadBlock|trim %}
                    {{ theadBlock|raw }}
                {% else %}
                    <tr>
                        {% if expandable %}
                            <th></th>
                        {% endif %}

                        {% if selectable %}
                            <th class="relative px-7 sm:w-12 sm:px-6">
                                <twig:ui:input:checkbox
                                        type="checkbox"
                                        data-cisse--ui-bundle--selectable-target="selectAllCheckbox"
                                        data-action="change->cisse--ui-bundle--selectable#selectAll"
                                />
                            </th>
                        {% endif %}

                        {% for field in fields %}
                            {% set field_name = loop.index0 %}
                            {% set field_label = '' %}

                            {% if field is iterable %}
                                {% set field_name = field.name ?? loop.index0 %}
                                {% if field.label is defined %}
                                    {% set field_label = field.label %}
                                {% else %}
                                    {% set field_label = (field.name ?? '')|split('.')|last %}
                                {% endif %}
                            {% else %}
                                {% set field_name = field %}
                                {% set field_label = (field)|split('.')|last %}
                            {% endif %}

                            <th class="{{ loop.index0 == 0 ? 'pl-0' : '' }} px-3 py-3.5 text-left">
                                <span class="text-md font-semibold text-slate-900 dark:text-slate-100">
                                    {{ field_label }}
                                </span>
                            </th>
                        {% endfor %}

                        {% if showActions %}
                            <th class="relative py-3.5 pr-4 pl-3 sm:pr-3">
                                {{ theadActionsBlock|raw }}
                            </th>
                        {% endif %}
                    </tr>
                {% endif %}
                </thead>

                <tbody class="divide-y divide-gray-200 dark:divide-gray-800 text-slate-500 dark:text-slate-500">
                {% if tbodyBlock|trim %}
                    {{ tbodyBlock|raw }}
                {% else %}
                    {% set _id = -1 %}
                    {% for item in items %}
                        {% set _id = _id + 1 %}
                        {% set itemId = attribute(item, _identifier) ?? _id %}

                        <tr>
                            {% if expandable %}
                                <td>
                                    <div
                                            data-cisse--ui-bundle--selectable-target="expandButton"
                                            data-action="click->cisse--ui-bundle--selectable#expandItem"
                                            data-item-id="{{ itemId }}"
                                            class="cursor-pointer"
                                    >
                                        <twig:ux:icon
                                                data-cisse--ui-bundle--selectable-target="expandIcon"
                                                data-item-id="{{ itemId }}"
                                                name="heroicons:chevron-down-16-solid"
                                                class="size-8 text-gray-700 dark:text-gray-300 hover:bg-black/5 dark:hover:bg-white/5 rounded-lg cursor-pointer transition-transform duration-200 ease-in-out rotate-0"
                                        />
                                    </div>
                                </td>
                            {% endif %}

                            {% if selectable %}
                                <td class="relative px-7 sm:w-12 sm:px-6">
                                    <div
                                            data-cisse--ui-bundle--selectable-target="selectIndicator"
                                            data-item-id="{{ itemId }}"
                                            class="bg-primary dark:bg-primary absolute inset-y-0 left-0 w-0.5"
                                            style="display: none;"
                                    ></div>

                                    <twig:ui:input:checkbox
                                            data-cisse--ui-bundle--selectable-target="selectCheckbox"
                                            data-action="change->cisse--ui-bundle--selectable#selectItem"
                                            value="{{ itemId }}"
                                    />
                                </td>
                            {% endif %}

                            {% for field in fields %}
                                {% set field_name = loop.index0 %}
                                {% set field_label = '' %}

                                {% if field is iterable %}
                                    {% set field_name = field.name ?? loop.index0 %}
                                    {% set field_label = field.label ?? field.name ?? '' %}
                                {% else %}
                                    {% set field_name = field %}
                                {% endif %}

                                <td class="{{ loop.index0 == 0 ? 'pl-4 sm:pl-0' }} px-3 py-4 text-sm">
                                    <span>
                                        {% if '.' in field_name %}
                                            {% set property_parts = field_name|split('.') %}
                                            {% set current_value = item %}
                                            {% set found_null = false %}
                                            {% for part in property_parts %}
                                                {% if not found_null %}
                                                    {% set current_value = attribute(current_value, part) %}
                                                    {% if current_value is null %}
                                                        {% set found_null = true %}
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            {{ found_null ? '' : current_value }}
                                        {% else %}
                                            {{ attribute(item, field_name) ?? '' }}
                                        {% endif %}
                                    </span>
                                </td>
                            {% endfor %}

                            {% if showActions %}
                                <td class="py-4 pr-4 pl-3 text-sm font-medium sm:pr-3 flex items-center justify-end gap-3">
                                    {{ tbodyActionsBlock|raw }}
                                </td>
                            {% endif %}
                        </tr>

                        {% if expandable %}
                            <tr
                                    data-cisse--ui-bundle--selectable-target="expandRow"
                                    data-item-id="{{ itemId }}"
                                    style="display: none;"
                            >
                                <td colspan="{{ fields|length + (selectable ? 1 : 0) + (expandable ? 1 : 0) + (showActions ? 1 : 0) }}" class="bg-gray-200 dark:bg-gray-800">
                                    <div class="expand-content">
                                        {{ expandedBlock|raw }}
                                    </div>
                                </td>
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td colspan="{{ fields|length + (selectable ? 1 : 0) + (expandable ? 1 : 0) + (showActions ? 1 : 0) }}" class="text-center py-4">
                                {% if emptyBlock|trim %}
                                    {{ emptyBlock|raw }}
                                {% else %}
                                    <span>{{ emptyLabel }}</span>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>

                {% if tfootBlock|trim %}
                    <tfoot>
                        {{ tfootBlock|raw }}
                    </tfoot>
                {% endif %}
            </table>
        </div>
    </div>
</div>
