{% props title = '', description = '', class = '' %}

{% set class = ('flex justify-between items-center px-5 py-3 gap-5 ' ~ class )|tailwind_merge %}
{% set titleBlock %}{% block title title|raw %}{% endset %}
{% set descriptionBlock %}{% block description description|raw %}{% endset %}
{% set actionsBlock %}{% block actions '' %}{% endset %}

<div {{ attributes}} class="{{ class }}">
    <div class="flex flex-col flex-1 gap-2">
        {% block content %}
            <twig:ui:card:title {{ ...attributes.nested('title') }}>{{ titleBlock|raw }}</twig:ui:card:title>
            <twig:ui:card:description {{ ...attributes.nested('description') }}>{{ descriptionBlock|raw }}</twig:ui:card:description>
        {% endblock %}
    </div>

    {% block actions_wrapper %}
        <twig:ui:card:actions {{ ...attributes.nested('actions') }}>{{ actionsBlock|raw }}</twig:ui:card:actions>
    {% endblock %}
</div>
